PATH=/usr/local/bin:/usr/local/opt/gnu-sed/libexec/gnubin:/usr/local/sbin:$HOME/bin:$HOME/Library/Mobile\ Documents/com\~apple\~CloudDocs/Dropbox\ Import/scripts:$HOME/Library/Mobile\ Documents/com\~apple\~CloudDocs/Dropbox\ Import/bin:$HOME/git/scripts:/git/scripts:$HOME/go/bin:$PATH
