# shellcheck disable=SC2148 disable=SC1090 shell=bash

# homebrew
export PATH="/opt/homebrew/bin:/usr/local/bin:/opt/homebrew/sbin:/opt/homebrew/opt/gnu-getopt/bin:${PATH}"

# my scripts
export PATH="${PATH}:${HOME}/Library/Mobile\ Documents/com\~apple\~CloudDocs/Dropbox\ Import/bin:${HOME}/git/scripts:${HOME}/.local/bin:${HOME}/bin"

# Golang
export PATH="${PATH}:${HOME}/go/bin"

# macOS Sonoma fix
export PATH="/sbin:${PATH}"

# added by Miniconda3 installer
export PATH="/Users/samm/miniconda3/bin:${PATH}"

### Kubernetes / k8s related exports ###

# Krew Kubernetes plugin manager
# export PATH="${KREW_ROOT:-$HOME/.krew}/bin:${PATH}"

#source $HOME/.helm/helmenv.sh

function conda_init() {

  # >>> conda initialize >>>
  # !! Contents within this block are managed by 'conda init' !!
  __conda_setup="$('/opt/homebrew/Caskroom/mambaforge/base/bin/conda' 'shell.zsh' 'hook' 2>/dev/null)"
  if [ $? -eq 0 ]; then
    eval "$__conda_setup"
  # else
  #   if [ -f "/opt/homebrew/Caskroom/mambaforge/base/etc/profile.d/conda.sh" ]; then
  #     # . "/opt/homebrew/Caskroom/mambaforge/base/etc/profile.d/conda.sh"  # commented out by conda initialize
  #   else
  #     # export PATH="/opt/homebrew/Caskroom/mambaforge/base/bin:$PATH"  # commented out by conda initialize
  #   fi
  fi
  unset __conda_setup
  # <<< conda initialize <<<

}

# pnpm
export PNPM_HOME="/Users/samm/Library/pnpm"
case ":$PATH:" in
*":$PNPM_HOME:"*) ;;
*) export PATH="$PNPM_HOME:$PATH" ;;
esac
# pnpm end

# [ -f ~/.inshellisense/key-bindings.zsh ] && source ~/.inshellisense/key-bindings.zsh
export PATH="/opt/homebrew/opt/llvm/bin:$PATH"
export PATH="/opt/homebrew/opt/qt@5/bin:$PATH"
export PATH="/opt/homebrew/opt/openjdk/bin:$PATH"
