### Antigen ZSH Addons

# clone of https://github.com/zsh-users/antigen.git
source ~/git/antigen/antigen.zsh

antigen bundles <<EOBUNDLES
command-not-found
docker
docker-compose
git
zsh-users/zsh-syntax-highlighting
trapd00r/zsh-syntax-highlighting-filetypes
ascii-soup/zsh-url-highlighter
olivierverdier/zsh-git-prompt
MichaelAquilina/zsh-you-should-use
colored-man-pages
brew
osx
smallhadroncollider/antigen-git-rebase
zsh-users/zsh-completions
zsh-users/zsh-autosuggestions
zsh-navigation-tools
rodjek/vim-puppet
zsh-users/zsh-history-substring-search
EOBUNDLES
antigen apply

#dbz/zsh-kubernetes
#johnlabarge/docker_fun
#webyneter/docker-aliases
#supercrabtree/k
#skx/sysadmin-util
#rutchkiwi/copyzshell
#antigen theme https://github.com/iam4x/zsh-iterm-touchbar
#unixorn/docker-helpers.zshplugin
#nojhan/liquidprompt
#tysonwolker/iterm-tab-colors
#iam4x/zsh-iterm-touchbar
