# shellcheck disable=SC2148 disable=SC1090 shell=bash

# load zgen
source "${HOME}/.zgen/zgen.zsh"

export ZGEN_RESET_ON_CHANGE="${HOME}/.zshrc"

if ! zgen saved; then
  echo "Creating a zgen save"

  # load normal plugins
  zgen load romkatv/zsh-defer

  # load omz plugins
  zgen oh-my-zsh
  zsh-defer zgen oh-my-zsh plugins/macos
  zsh-defer zgen oh-my-zsh plugins/docker
  zsh-defer zgen oh-my-zsh plugins/docker-compose
  zsh-defer zgen oh-my-zsh plugins/gitfast
  zsh-defer zgen oh-my-zsh plugins/aws
  zsh-defer zgen oh-my-zsh plugins/colored-man-pages
  zsh-defer zgen oh-my-zsh plugins/command-not-found
  zsh-defer zgen oh-my-zsh plugins/fnm
  zsh-defer zgen oh-my-zsh plugins/fzf
  zsh-defer zgen oh-my-zsh plugins/nmap
  zsh-defer zgen oh-my-zsh plugins/gh

  zsh-defer zgen load RobSis/zsh-completion-generator
  zsh-defer zgen load lukechilds/zsh-better-npm-completion
  zsh-defer zgen load zsh-users/zsh-completions
  zsh-defer zgen load zsh-users/zsh-syntax-highlighting
  zsh-defer zgen load zsh-users/zsh-autosuggestions
  zsh-defer zgen load MichaelAquilina/zsh-you-should-us
  zsh-defer zgen load zsh-users/zsh-history-substring-search
  zsh-defer zgen load devndive/zsh-saml2aws-auto
  zsh-defer zgen loadzdharma-continuum/fast-syntax-highlighting

  zsh-defer zgen load3v1n0/zsh-bash-completions-fallback

  # git related
  zsh-defer zgen loadpaulirish/git-open
  zsh-defer zgen loadolivierverdier/zsh-git-prompt
  zsh-defer zgen loadpeterhurford/git-it-on.zsh

  # fzf wrappers
  zsh-defer zgen loadsunlei/zsh-ssh
  zsh-defer zgen loadtorifat/npms
  # Not in use at present
  # nnao45/zsh-kubectl-completion
  # trejo08/kubecolor-zsh
  # ascii-soup/zsh-url-highlighter

  # source completions
  zsh-defer zgen load zsh-users/zsh-completions src

  zgen save
fi
