# shellcheck disable=SC2148 disable=SC1090 shell=bash

autoload -Uz compinit -C
compinit -C
autoload -U +X bashcompinit
bashcompinit

# load zgen
source "${HOME}/.zgen/zgen.zsh"

export ZGEN_RESET_ON_CHANGE="${HOME}/.zshrc"
export ZSH_DISABLE_AUTO_UPDATE=7 # Only check for oh-my-zsh updates every 7 days

# start compdef
# compinit -u

if ! zgen saved; then
  # echo "Creating a zgen save"

  ## load omz plugins ##
  # zgen oh-my-zsh
  zgen oh-my-zsh plugins/gitfast
  zgen oh-my-zsh plugins/command-not-found
  zgen oh-my-zsh plugins/fzf # https://github.com/ohmyzsh/ohmyzsh/issues/12412
  # zgen oh-my-zsh plugins/fnm
  # zgen oh-my-zsh plugins/docker
  zgen oh-my-zsh plugins/docker-compose
  zgen oh-my-zsh plugins/aws
  zgen oh-my-zsh plugins/colored-man-pages
  # plugins/macos - throwing compdef errors
  # zgen oh-my-zsh plugins/nmap
  # zgen oh-my-zsh plugins/gh

  ## load normal plugins ##
  zgen loadall <<EOPLUGINS
    zsh-users/zsh-completions src
    # zgen load zsh-users/zsh-completions
    # zsh-users/zsh-syntax-highlighting
    zsh-users/zsh-autosuggestions
    zsh-users/zsh-history-substring-search
    zdharma-continuum/fast-syntax-highlighting

    # git related
    peterhurford/git-it-on.zsh

    # fzf wrappers
    bigH/git-fuzzy
EOPLUGINS
  # sunlei/zsh-ssh
  # ocodo/ollama_zsh_completion

  # save zgen cache
  zgen save
fi
