# shellcheck disable=SC2148 disable=SC1090 shell=bash

# load zgen
source "${HOME}/.zgen/zgen.zsh"

export ZGEN_RESET_ON_CHANGE="${HOME}/.zshrc"

if ! zgen saved; then
  echo "Creating a zgen save"

  ## load omz plugins ##
  zgen oh-my-zsh
  zgen oh-my-zsh plugins/macos
  zgen oh-my-zsh plugins/gitfast
  zgen oh-my-zsh plugins/command-not-found
  zgen oh-my-zsh plugins/fzf
  zgen oh-my-zsh plugins/fnm
  zgen oh-my-zsh plugins/nmap
  zgen oh-my-zsh plugins/gh
  zgen oh-my-zsh plugins/docker
  zgen oh-my-zsh plugins/docker-compose
  zgen oh-my-zsh plugins/aws
  zgen oh-my-zsh plugins/colored-man-pages

  ## load normal plugins ##
  # load normal plugins
  zgen loadall <<EOPLUGINS
    zsh-users/zsh-completions src
    # zgen load zsh-users/zsh-completions
    zsh-users/zsh-syntax-highlighting
    zsh-users/zsh-autosuggestions
    zsh-users/zsh-history-substring-search
    zdharma-continuum/fast-syntax-highlighting

    MichaelAquilina/zsh-you-should-us
    lukechilds/zsh-better-npm-completion
    3v1n0/zsh-bash-completions-fallback
    devndive/zsh-saml2aws-auto
    mrkmg/borgbackup-zsh-completion

    # git related
    olivierverdier/zsh-git-prompt
    peterhurford/git-it-on.zsh
    paulirish/git-open

    # fzf wrappers
    sunlei/zsh-ssh
    torifat/npms
EOPLUGINS

  ## zsh completion generator ##
  zgen load RobSis/zsh-completion-generator

  ## Not in use at present ##
  # nnao45/zsh-kubectl-completion
  # trejo08/kubecolor-zsh
  # ascii-soup/zsh-url-highlighter

  zgen save
fi
