# shellcheck disable=SC2148 disable=SC1090 disable=SC2034 disable=SC2154 disable=SC1087 shell=bash

### Prompt! ###

autoload -U colors && colors

function collapse_pwd {
  echo "$(pwd | sed -e "s,^$HOME,~,")"
}

__PROMPT_USER="%{$fg[magenta]%}%n%{$reset_color%}"
__PROMPT_HOST="%{$fg[yellow]%}%m%{$reset_color%}"
__PROMPT_DIR="%{$fg_bold[green]%}$(collapse_pwd)%{$reset_color%}"
__PROMPT_GIT="$(git_prompt_info)"
# __PROMPT_KUBE="$(kube_ps1)"

# PROMPT="${__PROMPT_USER}@${__PROMPT_HOST}:${__PROMPT_DIR}${__PROMPT_GIT} "
PROMPT='%{$fg[magenta]%}%n%{$reset_color%}@%{$fg[yellow]%}%m%{$reset_color%}:%{$fg_bold[green]%}$(collapse_pwd)%{$reset_color%}$(git_prompt_info) '

ZSH_THEME_GIT_PROMPT_PREFIX="@%{$fg[magenta]%}"
ZSH_THEME_GIT_PROMPT_SUFFIX="%{$reset_color%}"
ZSH_THEME_GIT_PROMPT_DIRTY="%{$fg[green]%}!"
ZSH_THEME_GIT_PROMPT_UNTRACKED="%{$fg[green]%}?"
ZSH_THEME_GIT_PROMPT_CLEAN=""

if [ -f "/opt/homebrew/share/kube-ps1.sh" ]; then
  source "/opt/homebrew/share/kube-ps1.sh"
fi

if [ -f "/usr/local/share/kube-ps1.sh" ]; then
  source "/usr/local/share/kube-ps1.sh"
fi

# PS1='$(kube_ps1)'$PS1
