# shellcheck disable=SC2148

# iTerm2 Shell integration
# https://www.iterm2.com/documentation-shell-integration.html
source "$HOME"/.iterm2_shell_integration.zsh

# Node / Javascript
# Note: If this doesn't work, make sure you've cleaned up nvm directories and related PATHs
eval "$(/opt/homebrew/bin/fnm env --use-on-cd)"

# Thefuck
eval "$(thefuck --alias)"

#saml2aws
eval "$(saml2aws --completion-script-zsh)"

#asdf
. /opt/homebrew/opt/asdf/libexec/asdf.sh
