# shellcheck disable=SC2148 disable=SC1090 shell=bash

# Node / Javascript
# Note: If this doesn't work, make sure you've cleaned up nvm directories and related PATHs
eval "$(/opt/homebrew/bin/fnm env --use-on-cd --corepack-enabled)"

#saml2aws
eval "$(saml2aws --completion-script-zsh)"

#asdf
. /opt/homebrew/opt/asdf/libexec/asdf.sh

#pyenv
export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

# # pnpm
# export PNPM_HOME="/Users/samm/Library/pnpm"
# case ":$PATH:" in
# *":$PNPM_HOME:"*) ;;
# *) export PATH="$PNPM_HOME:$PATH" ;;
# esac
# pnpm end

#nav
# source "${HOME}/.nav/nav.zsh"
# nav bindkeys
