case $HOST in
    samm-mb*)
        # placeholder
        ;;
    systems-samm-mb*)
        # placeholder
        ;;
    systems-samm*)
         # placeholder
        ;;
    *)
        # placeholder for all
        ;;
esac
