#!/bin/bash

# Directory Jumps
alias d="cd ~/Downloads"

# Sublime Projects
alias subpup="subl ~/Dropbox/sublime_workspaces/puppet.sublime-project"
alias zshconfig="code \$HOME/Dropbox/dotfiles/shell_config"

# Packages
alias b="brew update; brew upgrade; brew cask upgrade; brew cleanup"
alias ba="brew update; brew upgrade; brew cask upgrade; brew cleanup; gem update; pip install -U pip; pip3 install -U pip; zgen selfupdate; zgen update; vim +PluginUpdate +qall"
alias pa"pip freeze --local | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip install -U"

# Git
alias gitdiff="git diff --color-words --color=always"
alias gitclean="git fetch -p; git remote prune origin; git repack -a -d -f --max-pack-size=10g --depth=500 --window=250; git gc --aggressive"
alias gitrb='for branch in `git branch -r --merged | grep -v HEAD`; do echo -e `git show --format="%ci %cr %an" $branch | head -n 1` \\t$branch; done | sort -r'
alias gs="git status"
alias gbd="git branch | egrep -v 'master|production' | xargs git branch -D && git remote prune origin"
alias git-hist="git gr"
alias git-delete-remote-branch="git push origin --delete"
#alias ip="~/Dropbox/scripts/ixpull.sh"
alias dev="git add .; git commit -m 'wip / developing'; git push"
alias gitday="git diff HEAD 'HEAD@{1 day ago}'"
alias gitweek="git diff HEAD 'HEAD@{1 week ago}'"
alias prod="git checkout production"
alias master="git checkout master"
alias jpgcompress='echo convert INPUTFILE -sampling-factor 4:2:0 -strip -interlace JPEG -colorspace sRGB OUTPUTFILE'

# Jekyll alias
alias js="jekyll serve ."
alias jb="jekyll build ."

# Misc
alias farsync='rsync -xrhm --numeric-ids -e "ssh -T -c aes128-gcm@openssh.com -o Compression=no" -x --partial --progress' #TODO: fix bug where this overwrites file name
alias arcfarsync="rsync -rhm --numeric-ids -e 'ssh -T -c arcfour -o Compression=no -x' --partial --progress"
alias tree="tree -ChF"
alias mtr="sudo mtr"
alias iftop="sudo iftop -i en0"
alias plint="puppet-lint --with-filename --no-documentation-check --no-arrow_alignment-check --no-hard_tabs-check --no-80chars-check"
alias ls='ls -G'
alias updatedb='sudo /usr/libexec/locate.updatedb'
alias rake='noglob rake'
alias netwatch='lsof -i'
alias flushdns='sudo discoveryutil udnsflushcaches'
alias server='sudo python3 -m http.server 80'
alias c='ccat'
alias cc='colorize.py'
alias rmid="ssh-keygen -R"
alias aria="aria2c -s 5 -j 5 -x 5 -c --enable-http-pipelining=true --http-accept-gzip=true"
alias dmesg="dmesg -LT"
alias ps-mem="ps xu --sort %mem | sed -e :a -e '1p;\$q;N;6,\$D;ba'" #show top memory hogs - linux only
#alias history="fc -li 1000"
alias cpuinfo="sysctl -n machdep.cpu.brand_string"
alias g="googler"
alias psql="/Applications/Postgres.app/Contents/Versions/10/bin/psql"
alias fastmail_you_there_bro="openssl s_client -connect imap.fastmail.com:993 -crlf"

#alias yt='youtube-dl'

# MacOS shortcuts
alias delete-all-local-snapshots='for d in $(tmutil listlocalsnapshotdates | grep -v "Snapshot dates for all disks"); do sudo tmutil deletelocalsnapshots $d; done'
alias screenshots-jpg='defaults write com.apple.screencapture type JPG'
alias screenshots-png='defaults write com.apple.screencapture type PNG'


# Kubes
alias kubes-busybox='kubectl run -i --tty loader --image=busybox /bin/sh'
alias k='kubectl'

# VSC
alias code='/Applications/Visual\ Studio\ Code.app/Contents/Resources/app/bin/code'

# Merge two files with diff
alias merge='diff --line-format %L'

