#shellcheck disable=SC2148

### Aliases ###

# Directory Jumps
alias d="cd ~/Downloads"
alias icloud_drive="cd ~/Library/Mobile\ Documents/com\~apple\~CloudDocs/"

# IDE Projects
alias zshconfig="cd ~/Library/Mobile\ Documents/com\~apple\~CloudDocs/Dropbox\ Import/dotfiles/shell_config/ && code ." #TODO: cleanup this, move stuff out of Dropbox\ Import
alias zshconfigd="cd ~/Library/Mobile\ Documents/com\~apple\~CloudDocs/Dropbox\ Import/dotfiles/shell_config/"          #TODO: cleanup this, move stuff out of Dropbox\ Import

# Packages
alias b="brew update; brew upgrade"
alias ba="omz update; brew update; brew upgrade; pip install -U pip; pip3 install -U pip; zgen selfupdate; zgen update; vim +PluginUpdate +qall; \ncu --global; mas upgrade"
alias app_store_upgrade_mmas="mas upgrade"
alias pa"pip freeze --local | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip install -U"

# Second homebrew install with x86 arch
alias brew86="arch -x86_64 /usr/local/homebrew/bin/brew"
alias brewbackup="brew bundle dump --force --file=~/Library/Mobile\ Documents/com\~apple\~CloudDocs/Dropbox\ Import/dotfiles/shell_config/Brewfile"
alias brewbackupmba="brew bundle dump --force --file=~/Library/Mobile\ Documents/com\~apple\~CloudDocs/Dropbox\ Import/dotfiles/shell_config/Brewfile-MBA"

# Git
alias main="git checkout main && git pull"
alias gitdiff="git diff --color-words --color=always"
alias gitclean="git fetch -p; git remote prune origin; git repack -a -d -f --max-pack-size=10g --depth=500 --window=250; git gc --aggressive"
#alias gitrb='for branch in `git branch -r --merged | grep -v HEAD`; do echo -e `git show --format="%ci %cr %an" $branch | head -n 1` \\t$branch; done | sort -r'
alias gbd="git branch -d"
alias git-delete-local-branches="git fetch --all --prune"
alias githist="git log --graph --pretty=oneline --abbrev-commit"
alias git-delete-remote-branch="git push origin --delete"
alias gitwip="git add .; git commit -m 'WIP - will rebase'; git push"
alias gitamendrebase="GIT_SEQUENCE_EDITOR=\"sed -i -re 's/^pick /e /'\"; git rebase -i"
alias amend="git commit --amend --no-edit"
alias gitlast="git add .;git commit --amend -C HEAD ; git push"
alias gitday="git diff HEAD 'HEAD@{1 day ago}'"
alias gitweek="git diff HEAD 'HEAD@{1 week ago}'"
alias gitupdateallrepos="find . -name .git -type d | xargs -n1 -P4 -I% git --git-dir=% --work-tree=%/.. fetch --all --recurse-submodules"
alias git-checkout-branch="git branch --sort=-committerdate | fzf --header 'Checkout Recent Branch' --preview 'git diff {1} --color=always' --pointer='>' | xargs git checkout"

# GNU tools
alias sed="gsed"

# Find commands I type often so I can alias them
alias typeless='history n 20000 | sed "s/.*  //"  | sort | uniq -c | sort -g | tail -n 100'

# alias jpgcompress='echo convert INPUTFILE -sampling-factor 4:2:0 -strip -interlace JPEG -colorspace sRGB OUTPUTFILE'

# Jekyll alias
alias js="jekyll serve ."
alias jb="jekyll build ."

# Misc
alias farsync='rsync -xrhm --numeric-ids -e "ssh -T -c aes128-gcm@openssh.com -o Compression=no" -x --partial --progress' #TODO: fix bug where this overwrites file name
alias arcfarsync="rsync -rhm --numeric-ids -e 'ssh -T -c arcfour -o Compression=no -x' --partial --progress"
alias tree="tree -ChF"
alias mtr="sudo mtr"
alias iftop="sudo iftop -i en0"
alias plint="puppet-lint --with-filename --no-documentation-check --no-arrow_alignment-check --no-hard_tabs-check --no-80chars-check"
alias ls='ls -G'
alias updatedb='sudo /usr/libexec/locate.updatedb'
alias rake='noglob rake'
alias netwatch='lsof -i'
alias flushdns='sudo discoveryutil udnsflushcaches'
alias httpserver='sudo python3 -m http.server 80'
alias cc='colorize.py'
alias rmid="ssh-keygen -R"
alias aria="aria2c -s 5 -j 5 -x 5 -c --enable-http-pipelining=true --http-accept-gzip=true"
alias dmesg="dmesg -LT"
alias ps-mem="ps xu --sort %mem | sed -e :a -e '1p;\$q;N;6,\$D;ba'" #show top memory hogs - linux only
#alias history="fc -li 1000"
alias cpuinfo="sysctl -n machdep.cpu.brand_string"
alias psql="/Applications/Postgres.app/Contents/Versions/latest/bin/psql"
alias fastmail_you_there_bro="openssl s_client -connect imap.fastmail.com:993 -crlf"

alias zmv='noglob zmv -W'

# MacOS shortcuts
# alias delete-all-local-snapshots='for d in $(tmutil listlocalsnapshotdates | grep -v "Snapshot dates for all disks"); do sudo tmutil deletelocalsnapshots $d; done'
alias clear-download-history="sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"
alias screenshots-jpg='defaults write com.apple.screencapture type JPG'
alias screenshots-png='defaults write com.apple.screencapture type PNG'

# Kubes
alias kubes-busybox='kubectl run -i --tty loader --image=busybox /bin/sh'
alias k='kubectl'
alias k_docker_desktop='export KUBECONFIG=~/.kube/config-docker-desktop'

# VSC
alias code='/Applications/Visual\ Studio\ Code.app/Contents/Resources/app/bin/code'

# Merge two files with diff
alias merge='diff --line-format %L'

# Terraform
alias t='terraform'
alias tf='terraform'
alias tfn='terraform'

# GCP
alias glogin='gcloud auth login --no-launch-browser'

# DNS benchmarking using https://github.com/redsift/dnstrace
alias dnsbenchmark='dnstrace -n 10 -c 10 --server 192.168.0.1 --recurse microsoft.com'

# modern unix command replacements
alias c='bat'

# Docker
# podman machine init --cpus=3 --disk-size=30 --memory=3192 podman-machine-default
# colima start --cpu 3 --memory 3 --disk 30 --mount $HOME/.vault-tokens:w
# ln -s /usr/local/bin/colima /usr/local/bin/docker
# alias docker='colima'

alias youtube-dl='yt-dlp'

alias nvm='echo I think you meant FNM'

# node / typescript
# update all packages in package.json except @types/node
alias ncu='ncu -u \!@types/node --deep'

# nice JSON graphing / visulisation tool
alias json-graph='colima start && docker run -p 8888:8080 jsonvisio && open http://localhost:8888/editor'

# Backblaze
alias backblaze_edit='code /Library/Backblaze.bzpkg/bzdata/bzexcluderules_editable.xml'

alias scripts='cd ~/git/scripts'

### Suffix Aliases ###

# VSCode
alias -s {ts,md,js,json,py,yaml,rb,css,rc,yml}=code

# Firefox
alias -s html=/Applications/Firefox.app

# VLC
alias -s {mkv,mp4,m4v,avi,mpg,mpeg}=vlc

# Preview
alias -s {jpg,jpeg,png,gif,bmp,ico,svg,webp}=open

# Networking

alias ip6="curl -s 6.ipquail.com/ip"
alias ip4="curl -s 4.ipquail.com/ip"
alias ptr6="curl -s 6.ipquail.com/ptr"
alias ptr4="curl -s 4.ipquail.com/ptr"
