#shellcheck disable=SC2148

### Exports ###

export HOMEBREW_NO_ANALYTICS=1
export DO_NOT_TRACK=1
export SAM_CLI_TELEMETRY=0 # AWS SAM
export GREP_OPTIONS="--color"
export LSCOLORS=ExFxCxDxBxegedabagacad
export GOPATH="${HOME}/go"
export XZ_OPT="--threads=8"
export MU_REPO_SERIAL=false
export EDITOR=vim

# colima / docker
export DOCKER_HOST="unix://$HOME/.colima/docker.sock"
