# shellcheck disable=SC2148 disable=SC1090 shell=bash

### Exports ###

export HOMEBREW_NO_ANALYTICS=1
export DO_NOT_TRACK=1
export SAM_CLI_TELEMETRY=0 # AWS SAM
export GREP_OPTIONS="--color"
# export LSCOLORS="ExFxCxDxBxegedabagacad"
export LS_COLORS="$(vivid generate dracula)"
export CLICOLOR=1
export GOPATH="${HOME}/go"
export XZ_OPT="--threads=8"
export MU_REPO_SERIAL=false
export EDITOR=vim

# colima / docker
export DOCKER_HOST="unix://$HOME/.colima/docker.sock"

# aws
export AWS_DEFAULT_REGION=ap-southeast-2

# Tells 'less' not to paginate if less than a page
export LESS="-F -X $LESS"

# Options to fzf command
export FZF_COMPLETION_OPTS='--border --info=inline'

# Export a variable that contains the directory this script is sourced from (e.g. /Users/username/icloud docs/somedir/).
# we can't use BASH_SOURCE[0] because it's not available in zsh
DOTFILES_DIR="$(cd "$(dirname "$0")" && pwd)"
export DOTFILES_DIR
